{% extends 'base.html.twig' %}

{% block title %}Offre index{% endblock %}

{% block body %}
    <h1>Offre index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Prix</th>
                <th>Date_debut</th>
                <th>Date_fin</th>
                <th>Disponibilite</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for offre in offres %}
            <tr>
                <td>{{ offre.id }}</td>
                <td>{{ offre.titre }}</td>
                <td>{{ offre.prix }}</td>
                <td>{{ offre.dateDebut ? offre.dateDebut|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ offre.dateFin ? offre.dateFin|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ offre.disponibilite ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_offre_show', {'id': offre.id}) }}">show</a>
                    <a href="{{ path('app_offre_edit', {'id': offre.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_offre_new') }}">Create new</a>
{% endblock %}
